body {
  margin: 0;

  .splide {
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .fa-icon-custom {
    height: 25px;
  }
  .error-message {
    color: rgb(175, 13, 45);
    font-weight: 400;
    text-align: center;
  }
  .success-message {
    color: #7ba121;
    font-weight: 400;
    text-align: center;
  }
  .link {
    width: fit-content;
    font-size: 18px;
    color: black;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      color: #addc3b;
    }
  }
  .p-paginator-pages {
    .p-highlight {
      background: #addc3b !important;
      color: #000;
    }
    .p-link {
      &:focus {
        box-shadow: 0 0 0 0.2rem #92b147 !important;
      }
    }
  }
}
