body {
  margin: 0;

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .fa-icon-custom {
    height: 25px;
  }
  .error-message{
    color: rgb(175, 13, 45);
    font-weight: 400;
  }
}
